* {
    box-sizing: border-box;
}

body {
    background-color: bisque;
    font-family: 'Aldrich', sans-serif;
}

a {
    text-decoration: none;
}

/**************** id's ****************/

#main-content {
    background-color: purple;
    max-width: 90vw;
    /* max-height: 90vh; */
    margin: auto;
}

/**************** classes ****************/

.greetings-intro {
    font-size: 1.5rem;
    padding: 1rem 0 0 1rem;
}

.name {
    font-size: 4.75rem;
    padding: 0.75rem 0 0 0.7rem;
}

.text-intro {
    text-align: center;
    padding-top: 8rem;
    font-size: 1.5rem;
}

.nav-list-items {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 1.25rem;
    background-color: teal;
    color: #fff;
}

.nav-list-items li {
    margin: 0 0.6rem;
}

.nav-list-items li:hover {
    cursor: pointer;
    text-decoration: underline;
}